:root {
    --black: #000;
    --white: #fff;
  }

  @font-face {
    font-family: "Nodesto Cyrillic";
    src: url("/fonts/Nodesto-Cyrillic.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }

  body {
    background: var(--black, #000);
  }

  .logo {
    width: 33.33vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

